parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\CommentController\\:\\:create\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/CommentController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\CommentController\\:\\:index\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/CommentController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\CommentController\\:\\:show\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/CommentController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\IssueController\\:\\:create\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/IssueController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\IssueController\\:\\:store\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/IssueController.php

		-
			message: "#^Parameter \\#1 \\$view of function view expects view\\-string\\|null, string given\\.$#"
			count: 1
			path: app/Http/Controllers/IssueController.php

		-
			message: "#^Method App\\\\Policies\\\\CommentPolicy\\:\\:create\\(\\) should return bool\\|Illuminate\\\\Auth\\\\Access\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Policies/CommentPolicy.php

		-
			message: "#^Method App\\\\Policies\\\\CommentPolicy\\:\\:delete\\(\\) should return bool\\|Illuminate\\\\Auth\\\\Access\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Policies/CommentPolicy.php

		-
			message: "#^Method App\\\\Policies\\\\CommentPolicy\\:\\:restore\\(\\) should return bool\\|Illuminate\\\\Auth\\\\Access\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Policies/CommentPolicy.php

		-
			message: "#^Method App\\\\Policies\\\\CommentPolicy\\:\\:update\\(\\) should return bool\\|Illuminate\\\\Auth\\\\Access\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Policies/CommentPolicy.php

		-
			message: "#^Method App\\\\Policies\\\\CommentPolicy\\:\\:view\\(\\) should return bool\\|Illuminate\\\\Auth\\\\Access\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Policies/CommentPolicy.php

		-
			message: "#^Method App\\\\Policies\\\\CommentPolicy\\:\\:viewAny\\(\\) should return bool\\|Illuminate\\\\Auth\\\\Access\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Policies/CommentPolicy.php

		-
			message: "#^Method App\\\\Policies\\\\IssuePolicy\\:\\:create\\(\\) should return bool\\|Illuminate\\\\Auth\\\\Access\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Policies/IssuePolicy.php

		-
			message: "#^Method App\\\\Policies\\\\IssuePolicy\\:\\:delete\\(\\) should return bool\\|Illuminate\\\\Auth\\\\Access\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Policies/IssuePolicy.php

		-
			message: "#^Method App\\\\Policies\\\\IssuePolicy\\:\\:restore\\(\\) should return bool\\|Illuminate\\\\Auth\\\\Access\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Policies/IssuePolicy.php

		-
			message: "#^Method App\\\\Policies\\\\IssuePolicy\\:\\:update\\(\\) should return bool\\|Illuminate\\\\Auth\\\\Access\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Policies/IssuePolicy.php

		-
			message: "#^Method App\\\\Policies\\\\IssuePolicy\\:\\:view\\(\\) should return bool\\|Illuminate\\\\Auth\\\\Access\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Policies/IssuePolicy.php

		-
			message: "#^Method App\\\\Policies\\\\IssuePolicy\\:\\:viewAny\\(\\) should return bool\\|Illuminate\\\\Auth\\\\Access\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Policies/IssuePolicy.php
