@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~easymde/dist/easymde.min.css";
@import "components/button";
@import "components/navbar";
@import "components/power-grid";

main {
    @apply sm:mt-10;
}

.frontend, .backend, .auth {
    @apply font-sans text-gray-900 antialiased bg-[#F9F9F9];
}


/*
 * Components
 * -----------------------------------------------------------------------------
 */
.form-input {
    @apply block w-full;
    @apply border-stone-300 focus:ring-uh-indigo-400 focus:border-uh-indigo-400 rounded;
}

.common-card-style {
    @apply sm:rounded-md;
    @apply border-t sm:border sm:border-stone-300;
    @apply sm:shadow-sm;

    &-body {
        @apply px-4 py-5 sm:p-6;
        @apply bg-white border-b-stone-300 rounded-t-md;
    }

    &-footer {
        @apply flex items-center justify-end px-4 py-3 sm:px-6;
        @apply sm:bg-stone-100 rounded-b-md;
        @apply text-right border-t;
    }
}

.markdown {
    @apply prose max-w-full;
}

.blade-icon {
    display: inline-block;
    height: 1em;
    overflow: visible;
    box-sizing: content-box;
    vertical-align: -0.125em;
}
