@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~easymde/dist/easymde.min.css";
@import "components/button";
@import "components/navbar";
@import "components/power-grid";

main {
    @apply sm:mt-10;
}

.frontend, .backend, .auth {
    @apply bg-zinc-800;
    @apply font-sans text-gray-200 antialiased;
}


/*
 * Components
 * -----------------------------------------------------------------------------
 */
 .text-muted {
    @apply text-zinc-400;
}

.form-input {
    @apply block w-full;
    @apply border-stone-300 focus:ring-uh-indigo-400 focus:border-uh-indigo-400 rounded;
}

.common-card-style {
    @apply rounded-t-md rounded-b-md;
    @apply bg-white border border-stone-300;
    @apply shadow;
}

.markdown {
    @apply prose !max-w-fit;
}

.blade-icon {
    display: inline-block;
    height: 1em;
    overflow: visible;
    box-sizing: content-box;
    vertical-align: -0.125em;
}
